.tutto{
    width: 100%;
    position: relative;
    top: 7%;
    overflow-y: auto;
    background-color: rgba(255, 204, 112, 0.7);
}

.sezione_filtri{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
    position: fixed;
    float: left;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset,
    rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset,
    rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset,
    rgba(0, 0, 0, 0.06) 0 2px 1px,
    rgba(0, 0, 0, 0.09) 0 4px 2px,
    rgba(0, 0, 0, 0.09) 0 8px 4px,
    rgba(0, 0, 0, 0.09) 0 16px 8px,
    rgba(0, 0, 0, 0.09) 0 32px 16px;
}

.heading {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.filtri{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.filtriPacchetti_form{
    width: 100%;
}

fieldset{
    box-shadow: 1px 1px 3px rgb(200, 80, 192);
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
}

.bottoni{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.field {
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: #000000;
    background-color: rgb(255, 204, 112);
    box-shadow: inset 2px 5px 10px rgb(200, 80, 192);
    width: 90%;
    height: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    box-sizing: border-box;
}

.field label{
    margin-right: 1em;
}

.input-field {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    width: 100%;
}

.input-field::selection {
    background-color: #6464d5;
}

.filtro_prezzo {
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.button1 {
    display: flex;
    margin: 10% auto auto auto;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: rgb(0, 0, 0);
}

.button1:hover {
    background-image: linear-gradient(43deg, #ffcc70 0%, #C850C0 46%, #4158d0 100%);
    color: rgb(255, 255, 255);
}

.pacchetti{
    float: right;
    width: 80%;
    height: 90%;
    z-index: 1;
}

.barraMetodi{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 2px rgb(200, 80, 192) ;
}

.aggiungiPacchetto {
    padding: 0.5em 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: rgb(0, 0, 0);
}

.aggiungiPacchetto:hover {
    background-image: linear-gradient(43deg, #ffcc70 0%, #C850C0 46%, #4158d0 100%);
    color: rgb(255, 255, 255);
}

.rimuoviPacchetto {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: rgb(0, 0, 0);
}

.rimuoviPacchetto:hover {
    background-image: linear-gradient(163deg, #a00000fa 0%, #d10050 100%);
    color: rgb(0, 0, 0);
}

.singolo_pacchetto{
    width: 20%;
    height: 250px;
    margin-top: 4px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 1px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s; /* Aggiunge un effetto di transizione fluida */
    background-color: white;
}

.singolo_pacchetto:hover{
    box-shadow: 2px 5px 10px rgb(200, 80, 192);
    transform: scale(1.01);
}

.immagine{
    height: 45%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
}

.immagine img{
    width: 100%;
    height: 100%;
}

.nome{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    box-sizing: border-box;
}

.info{
    height: 15%;
    width: 100%;
    font-weight: lighter;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
}

.giorni{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.giorni img{
    width: 20%;
    height: 50%;
}

.persone{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.persone img{
    width: 20%;
    height: 50%;
}

.prezzo{
    height: 20%;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nessun_elemento{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Centra orizzontalmente */
    align-items: center;
    float: right;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #999cff;
    border-radius: 20px;
}

.heading_form {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.field_form {
    display: flex;
    align-items: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: #000000;
    background-color: rgb(255, 204, 112);
    box-shadow: inset 2px 5px 10px rgb(200, 80, 192);
}

.field_form label{
    margin-right: 1em;
}

.input-field_form {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
}

.input-field_form::selection {
    background-color: #6464d5;
}

.button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: rgb(0, 0, 0);
}

.button3:hover {
    background-image: linear-gradient(43deg, #ffcc70 0%, #C850C0 46%, #4158d0 100%);
    color: rgb(255, 255, 255);
}

.card2 {
    width: 100%;
    max-width: 400px; /* Larghezza massima desiderata */
    margin: 20px auto; /* Centro la card e aggiungo spazio sopra e sotto */
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 22px;
    transition: all .3s;
}

.card3 {
    border-radius: 0;
    transition: all .2s;
}

.card3:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.card2:hover {
    box-shadow: 0 0 30px 1px rgba(200, 80, 192, 0.5);
}

select {
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    width: 100%;
    height: 50%;
    background: transparent;
    border-radius: 0.25em;
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
        display: none;
    }
    /* Remove focus outline */
    &:focus {
        outline: none;
    }
}

@media screen and (max-width: 1025px) {
    .sezione_filtri{
        position: relative;
    }
}

@media screen and (max-width: 1000px) {
    .singolo_pacchetto{
        width: 25%;
    }
}

@media screen and (max-width: 750px) {
    .sezione_filtri{
        width: 150px;
    }

    .pacchetti{
        width: 550px;
    }

    .singolo_pacchetto{
        width: 30%;
    }
}

@media screen and (max-width: 725px) {
    .pacchetti{
        width: 525px;
    }
}

@media screen and (max-width: 700px) {
    .pacchetti{
        width: 500px;
    }
}

@media screen and (max-width: 675px) {
    .pacchetti{
        width: 475px;
    }
}

@media screen and (max-width: 650px) {
    .pacchetti{
        width: 450px;
    }
}

@media screen and (max-width: 625px) {
    .pacchetti{
        width: 425px;
    }
}

@media screen and (max-width: 600px) {
    .pacchetti{
        width: 400px;
    }

    .singolo_pacchetto{
        width: 40%;
    }
}

@media screen and (max-width: 575px) {
    .pacchetti{
        width: 375px;
    }
}

@media screen and (max-width: 550px) {
    .pacchetti{
        width: 350px;
    }
}

@media screen and (max-width: 525px) {
    .pacchetti{
        width: 325px;
    }
}

@media screen and (max-width: 500px) {
    .pacchetti{
        width: 300px;
    }

    .singolo_pacchetto{
        width: 70%;
        margin: 4px 0 1px 0;
    }
}

@media screen and (max-width: 475px) {
    .pacchetti{
        width: 275px;
    }
}

@media screen and (max-width: 450px) {
    .pacchetti{
        width: 250px;
    }
}

@media screen and (max-width: 425px) {
    .pacchetti{
        width: 225px;
    }

    .singolo_pacchetto{
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .pacchetti{
        width: 200px;
    }
}

@media screen and (max-width: 375px) {
    .pacchetti{
        width: 190px;
    }
}

@media screen and (max-width: 350px) {
    .pacchetti{
        width: 165px;
    }
}

@media screen and (max-width: 325px) {
    .pacchetti{
        width: 125px;
    }

    .singolo_pacchetto{
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    .pacchetti{
        width: 110px;
    }

    .sezione_filtri{
        width: 125px;
    }

    .filtri{
        width: 100%;
    }
}

@media screen and (max-height: 625px) {
    .sezione_filtri{
        position: relative;
    }
}

@media screen and (max-height: 550px) {
    .tutto{
        top: 50px;
    }
}
