body{
    background-color: rgba(255, 204, 112, 0.7);
}

.tutto{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
    top: 7%;
}

.slider-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
    overflow-x: hidden;
    width: 80%;
    box-shadow: 0 0 15px rgb(200, 80, 192);
    margin-top: 10px;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    margin-top: 10px;
    z-index: 1;
}

.slider-nav-btn {
    width: 1rem;
    height: 1rem;
    font-size: 0.5rem;
    border: none;
    border-radius: 50%;
    transition: .4s ease-in-out;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: rgb(0, 0, 0);
    margin: 0 0.5rem;
    cursor: pointer;
}

.slider-nav-btn:hover {
    background-image: linear-gradient(43deg, #ffcc70 0%, #C850C0 46%, #4158d0 100%);
    color: rgb(255, 255, 255);
}

.destra{
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
}

.Informazioni-pacchetto{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px rgb(200, 80, 192);
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.Nome{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testo-nome{
    text-align: center;
    text-align-last: center;
    font-weight: bolder;
    font-size: 22px;
}

.Informazioni-pacchetto2{
    width: 100%;
    height: 30%;
}

.Tipo{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
}

.testo-tipo{
    font-weight: bold;
    font-size: 18px;
}

.esperienza{
    font-weight: lighter;
    font-size: 16px;
}

.Prezzo{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testo-prezzo{
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    height: 50%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantita{
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.input_quantita{
    width: 30%;
    height: 90%;
    box-sizing: border-box;
    font-size: 18px;
}

.main-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    overflow: hidden;
    align-items: flex-start;
    box-sizing: border-box;
}

.main-section:hover .second-button , .main-section:hover .first-button {
    transform: translateY(-100%);
}

.first-button {
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: rgb(0, 0, 0);
    border: none;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.6s;
}

.second-button {
    background-image: linear-gradient(43deg, #ffcc70 0%, #C850C0 46%, #4158d0 100%);
    color: rgb(255, 255, 255);
    border: none;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.6s;
}

.descrizione-pacchetto{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descrizione-ridotta{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
}

.descrizione-estesa{
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;
}

.titolo{
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 5%;
}

.testo_descrizione_piccola{
    font-weight: lighter;
    font-size: 14px;
}

#mostra-altro {
    cursor: pointer;
    color: #c850c0;
    text-decoration: underline;
    user-select: none; /* Disabilita la selezione del testo */
    width: 20%;
    margin-top: 2px;
}

#mostra-altro:hover {
    color: #c850c0;
}

.Prezzo2{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.campi{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field {
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: #000000;
    background-color: rgb(255, 204, 112);
    box-shadow: inset 2px 5px 10px rgb(200, 80, 192);
    width: 100%;
    height: 30%;
    margin-top: 5px;
    box-sizing: border-box;
}

.field label{
    margin-right: 1em;
}

.input-field {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    width: 100%;
}

.input-field::selection {
    background-color: #6464d5;
}

.button3 {
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 30%;
}

.button3:hover {
    background-image: linear-gradient(43deg, #ffcc70 0%, #C850C0 46%, #4158d0 100%);
    color: rgb(255, 255, 255);
}

.button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    gap: 2px;
    float: right;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.button:hover {
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
    gap: 0;
}

.bin-top {
    transform-origin: bottom right;
}
.button:hover .bin-top {
    transition-duration: 0.5s;
    transform: rotate(160deg);
}

.afd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1325px) {
    .Prezzo2 form{
        border: 1px solid black;
        box-sizing: border-box;
        width: 70%;
    }
}

@media screen and (max-width: 1100px) {
    .Prezzo2 form{
        width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .Prezzo2 form{
        width: 60%;
    }

    .slider-wrapper {
        position: relative;
        float: unset;
        width: 100%;
        height: 40%;
    }

    .slider {
        width: 50%;
    }

    .destra{
        position: relative;
        width: 100%;
        float: unset;
    }

    .card{
        overflow-y: auto;
    }
}

@media screen and (max-width: 700px) {
    .Prezzo2 form{
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .Prezzo2 form{
        width: 80%;
    }

    .quantita{
        flex-direction: column;
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .Prezzo2 form{
        width: 90%;
    }
}

@media screen and (max-width: 435px) {
    .Prezzo{
        flex-direction: column;
    }

    .main-section{
        width: 100%;
    }
}

@media screen and (max-height: 700px) {
    .quantita{
        height: 50%;
    }
}

@media screen and (max-height: 600px) {
    .descrizione-estesa{
        height: auto;
    }

    .descrizione-ridotta{
        height: auto;
    }

    .quantita{
        height: 70%;
    }
}

@media screen and (max-height: 550px) {
    .tutto{
        top: 50px;
    }
}

@media screen and (max-height: 425px) {
    .quantita{
        height: 90%;
    }
}

@media screen and (max-height: 350px) {
    .quantita{
        height: 100%;
    }
}
