body{
    background-color: rgba(255, 204, 112, 0.7);
    height: 100%;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #999cff;
    border-radius: 20px;
}

#heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: #000000;
    background-color: rgb(255, 204, 112);
    box-shadow: inset 2px 5px 10px rgb(200, 80, 192);
}

.field input:-webkit-autofill,
.field input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px #ffcc70 inset; /* Cambia il colore di riempimento */
    -webkit-text-fill-color: rgb(0, 0, 0); /* Cambia il colore del testo */
    border-radius: 25px; /* Aggiunge il bordo arrotondato per il campo */
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: rgb(200, 80, 192);
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: rgb(0, 0, 0);
}

.input-field::selection {
    background-color: #6464d5;
}

.form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 1em;
}

.button1 {
    padding: 0.5em 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: rgb(0, 0, 0);
}

.button1:hover {
    background-image: linear-gradient(43deg, #ffcc70 0%, #C850C0 46%, #4158d0 100%);
    color: rgb(255, 255, 255);
}

.button2 {
    padding: 0.5em 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: rgb(0, 0, 0);
}

.button2:hover {
    background-image: linear-gradient(43deg, #ffcc70 0%, #C850C0 46%, #4158d0 100%);
    color: rgb(255, 255, 255);
}

.button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: rgb(0, 0, 0);
}

.button3:hover {
    background-image: linear-gradient(163deg, #a00000fa 0%, #d10050 100%);
    color: rgb(0, 0, 0);
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 22px;
    transition: all .3s;
    width: 300px; /* Puoi cambiare questo valore per adattarlo in base alle tue esigenze */
    min-width: 300px;
    height: 300px; /* Puoi cambiare questo valore per adattarlo in base alle tue esigenze */
}

@media (max-width: 650px) { /* Modifica le dimensioni per schermi di larghezza massima di 768px */
    .card {
        width: 40%; /* Modifica la larghezza per adattarla allo schermo più piccolo */
        height: 40%; /* Modifica l'altezza per adattarla allo schermo più piccolo */
    }
    .form .btn{
        flex-direction: column;
    }

    .button2{
        margin-top: 10px;
    }

    .button1, .button2{
        width: 100%;
    }
}


.card2 {
    border-radius: 0;
    transition: all .2s;
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0 0 30px 1px rgba(200, 80, 192, 0.5);
}

.result {
    text-align: center; /* Per centrare il testo */
    color: #000000; /* Colore del testo */
    margin-top: 10px; /* Spazio sopra il risultato */
}

.notifica {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #999cff;
    background-image: linear-gradient(43deg, #ffcc70 0%, #C850C0 46%, #FFCC70 100%);
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.notifica.show {
    opacity: 1;
}