/* Stili per la navbar */
.navbar {
    background-color: #999cff;
    background-image: radial-gradient(at 40% 6%, hsla(210, 100%, 50%, 1) 0%, transparent 50%),
    radial-gradient(at 60% 20%, hsla(240, 100%, 50%, 1) 0%, transparent 50%),
    radial-gradient(at 40% 60%, hsla(270, 100%, 50%, 1) 0%, transparent 50%),
    radial-gradient(at 40% 60%, hsla(300, 100%, 50%, 1) 0%, transparent 50%),
    radial-gradient(at 55% 80%, hsla(330, 100%, 50%, 1) 0%, transparent 50%);
    overflow: hidden; /* Per gestire eventuali elementi che sforano la navbar */
    padding: 10px; /* Spaziatura interna della navbar */
    display: flex; /* Utilizzo di flexbox per il layout */
    align-items: center; /* Allineamento verticale */
}

/* Stili per il logo */
.logo {
    float: left; /* Allinea il logo a sinistra */
}

.logo img {
    height: 60px; /* Altezza dell'immagine del logo */
    width: auto; /* Larghezza automatica per mantenere le proporzioni */
    transform: scale(1.5);
    margin-left: 10px;
}

/* Stili per il carrello e il profilo */
.carrello {
    float: right; /* Allinea il carrello a destra */
    margin-right: 10px; /* Aggiunge un margine destro per separare dal profilo */
    transition: transform 0.3s; /* Aggiunge un effetto di transizione fluida */
}

.carrello:hover{
    transform: scale(1.2); /* Ingrandisce l'immagine al passaggio del mouse */
}

.profilo {
    float: right; /* Allinea il profilo a destra */
    transition: transform 0.3s; /* Aggiunge un effetto di transizione fluida */
}

.profilo:hover{
    transform: scale(1.2); /* Ingrandisce l'immagine al passaggio del mouse */
}

.profilo img {
    height: 60px; /* Altezza delle immagini di carrello e profilo */
    width: auto; /* Larghezza automatica per mantenere le proporzioni */
    margin-left: 10px; /* Aggiunge un margine sinistro tra le immagini */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%; /* Imposta il bordo circolare */
}

.carrello img {
    height: 60px; /* Altezza delle immagini di carrello e profilo */
    width: 65px; /* Larghezza automatica per mantenere le proporzioni */
    margin-left: 10px; /* Aggiunge un margine sinistro tra le immagini */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%; /* Imposta il bordo circolare */
}

/* Stili per la ricerca */
.cerca{
    margin: 0 auto; /* Centra orizzontalmente il div cerca */
    position: relative;
    background: rgba(255, 255, 255, 0.664);
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 22px;
    max-width: 500px; /* Aumenta il max-width per allungare il div cerca */
    width: 80%; /* Imposta una larghezza percentuale per consentire la flessibilità */
    height: 40px;
}

.contenitoreBarra{
    margin: 0 auto; /* Centra orizzontalmente il div cerca */
    position: relative;
    background: rgba(255, 255, 255, 0.664);
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 22px;
    max-width: 500px; /* Aumenta il max-width per allungare il div cerca */
    width: 80%; /* Imposta una larghezza percentuale per consentire la flessibilità */
    height: 25px;
    transition: transform 0.3s; /* Aggiunge un effetto di transizione fluida */
}

.contenitoreBarra:hover{
    transform: scale(1.05); /* Ingrandisce l'immagine al passaggio del mouse */
}

.ombre {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(30px);
    border-radius: 20px;
}

.bottoneRicerca {
    cursor: pointer;
    border: none;
    background: none;
    transition: transform 400ms, background 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 5px;
}

.bottoneRicerca img{
    height: 40px;
    width: 40px;
}

.bottoneRicerca:hover {
    background: rgba(255, 255, 255, 0.411);
}

.barraRicerca {
    flex: 1; /* Fai espandere la barra di ricerca per occupare lo spazio disponibile */
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 8px;
    position: relative;
}
