/* Stili per la navbar */
.navbar {
    background-color: #999cff;
    background-image: radial-gradient(at 40% 6%, hsla(210, 100%, 50%, 1) 0%, transparent 50%),
    radial-gradient(at 60% 20%, hsla(240, 100%, 50%, 1) 0%, transparent 50%),
    radial-gradient(at 40% 60%, hsla(270, 100%, 50%, 1) 0%, transparent 50%),
    radial-gradient(at 40% 60%, hsla(300, 100%, 50%, 1) 0%, transparent 50%),
    radial-gradient(at 55% 80%, hsla(330, 100%, 50%, 1) 0%, transparent 50%);
    overflow: visible; /* Per gestire eventuali elementi che sforano la navbar */
    padding: 10px; /* Spaziatura interna della navbar */
    display: flex; /* Utilizzo di flexbox per il layout */
    align-items: center; /* Allineamento verticale */
    height: 4vh;
}

/* Stili per il logo */
.logo {
    height: 100%; /* Altezza dell'immagine del logo */
    float: left; /* Allinea il logo a sinistra */
}

.logo img {
    height: 100%; /* Altezza dell'immagine del logo */
    width: auto; /* Larghezza automatica per mantenere le proporzioni */
    transform: scale(1.5);
    margin-left: 10px;
}

/* Stili per il carrello e il profilo */
.carrello {
    height: 100%; /* Altezza dell'immagine del logo */
    float: right; /* Allinea il carrello a destra */
    margin-right: 10px; /* Aggiunge un margine destro per separare dal profilo */
    transition: transform 0.3s; /* Aggiunge un effetto di transizione fluida */
}

.carrello:hover{
    transform: scale(1.2); /* Ingrandisce l'immagine al passaggio del mouse */
}

.profilo {
    height: 100%; /* Altezza dell'immagine del logo */
    float: right; /* Allinea il profilo a destra */
    transition: transform 0.3s; /* Aggiunge un effetto di transizione fluida */
    position: relative; /* Aggiungi questo per posizionare il menu a tendina rispetto a questo elemento */
}

.profilo:hover{
    transform: scale(1.2); /* Ingrandisce l'immagine al passaggio del mouse */
}

.profilo img {
    height: 100%; /* Altezza dell'immagine del logo */
    width: auto; /* Larghezza automatica per mantenere le proporzioni */
    margin-left: 10px; /* Aggiunge un margine sinistro tra le immagini */
}

.carrello img {
    height: 100%; /* Altezza dell'immagine del logo */
    width: auto; /* Larghezza automatica per mantenere le proporzioni */
    margin-left: 10px; /* Aggiunge un margine sinistro tra le immagini */
}

/* Stili per la ricerca */
.cerca{
    height: 50%; /* Altezza dell'immagine del logo */
    margin: 0 auto; /* Centra orizzontalmente il div cerca */
    position: relative;
    background: rgba(255, 255, 255, 0.664);
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    width: 25%; /* Imposta una larghezza percentuale per consentire la flessibilità */
}

.contenitoreBarra{
    height: 50%; /* Altezza dell'immagine del logo */
    margin: 0 2%; /* Centra orizzontalmente il div cerca */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    min-width: 90%; /* Imposta una larghezza percentuale per consentire la flessibilità */
    transition: transform 0.3s; /* Aggiunge un effetto di transizione fluida */
}

.contenitoreBarra:hover{
    transform: scale(1.05); /* Ingrandisce l'immagine al passaggio del mouse */
}

.ombre {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(30px);
    border-radius: 20px;
}

.bottoneRicerca {
    cursor: pointer;
    border: none;
    background: none;
    transition: transform 400ms, background 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    height: 150%; /* Altezza dell'immagine del logo */
    min-width: 9%;
}

.bottoneRicerca img{
    height: 100%;
    width: 100%;
}

.bottoneRicerca:hover {
    background: rgba(255, 255, 255, 0.411);
}

.barraRicerca {
    flex: 1; /* Fai espandere la barra di ricerca per occupare lo spazio disponibile */
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 8px;
    position: relative;
    height: 100%;
}

.menuTendina {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: -10px; /* Imposta il menu a tendina allineato con il bordo destro della navbar */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: auto;
    background-color: hsla(240, 100%, 50%, 0.5);
    transition: background-color 0.5s ease-in-out; /* Applica la transizione solo al colore di sfondo */
    width: auto;
}

.menuTendina:hover {
    background: hsla(300, 100%, 50%, 0.5)
}

.menuTendina a {
    display: block;
    padding: 5px 0; /* Aggiungi spaziatura tra i link */
    text-decoration: none; /* Rimuovi il sottolineato predefinito */
    color: #333; /* Imposta il colore del testo */
    white-space: nowrap; /* Impedisce al testo di andare a capo */
}
