.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #999cff;
    border-radius: 20px;
}

#heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(47, 47, 246);
    box-shadow: inset 2px 5px 10px rgba(255, 0, 255, 0.7);
}

.field input:-webkit-autofill,
.field input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px #2f2ff6 inset; /* Cambia il colore di riempimento */
    -webkit-text-fill-color: rgb(255, 255, 255); /* Cambia il colore del testo */
    border-radius: 25px; /* Aggiunge il bordo arrotondato per il campo */
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: rgba(255, 0, 255, 0.7);
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: rgb(255, 255, 255);
}

.input-field::selection {
    background-color: #6464d5;
}

input[type="file"]{
    display:none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1)
}

.button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-image: linear-gradient(163deg, #0080ff 0%, #8000ff 100%);
    color: rgb(255, 255, 255);
}

.button3:hover {
    background-image: linear-gradient(163deg, #999cff 0%, #0000ff 100%);
    color: rgb(255, 0, 255);
}

.card {
    position: absolute;
    top: calc(30vh - 4vh); /* Calcola il 50% dell'altezza della finestra meno metà dell'altezza della navbar */
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(163deg, #ff00ff 0%, #8000ff 100%);
    border-radius: 22px;
    transition: all .3s;
    width: 20%;
    height: 30%;
    z-index: 2;
}

.card2 {
    top: calc(30vh - 4vh); /* Calcola il 50% dell'altezza della finestra meno metà dell'altezza della navbar */
    left: 50%;
    border-radius: 0;
    transition: all .2s;
    z-index: 1;
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0 0 30px 1px rgba(255, 0, 255, 0.5);
}

.result {
    text-align: center; /* Per centrare il testo */
    color: #000000; /* Colore del testo */
    margin-top: 10px; /* Spazio sopra il risultato */
}